.orderByPrice {
  width: 90%;
  display: flex;
  max-width: 1400px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.orderByPrice select {
  border: none;
  outline: none;
  font-family: inherit;
}

@media (max-width: 720px) {
  .orderByPrice {
    margin-top: 50px;
  }
}
