.publish-section {
  background-color: #ebedee;
  padding-top: 100px;
  padding-bottom: 50px;
}

.publish-section fieldset {
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.publish-section fieldset > div {
  display: flex;
  justify-content: space-between;
}

.publish-section > div:first-child {
  width: 60%;
  margin: auto;
}
