.pages {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: -10px;
}

.pages span:not(:last-child) {
  margin-right: 30px;
}

.pages span {
  cursor: pointer;
  color: #111111;
}

.loading-home {
  width: 100vw;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
}
