/* GLOBAL */

body {
  font-family: "Maison Neue", sans-serif;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  height: 1px;
  color: #09aeb8;
}

/* 
----------------------------------- 
MODAL - FORM
----------------------------------- 
*/

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.login-form .container {
  display: flex;
  width: 500px;
  background-color: #fff;
  height: 400px;
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}

.login-form h2 {
  display: flex;
  justify-content: center;
  font-family: "Maison Neue Bold";
  font-size: 24px;
  line-height: 32px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 335px;
  background-color: white;
  border-radius: 4px;
}

.login-form input {
  margin-bottom: 20px;
  font-size: inherit;
  color: black;
}

.login-form a {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-decoration: none;
  color: #09aeb8;
  text-align: center;
}

.login-form input[type="submit"] {
  border: none;
  background-color: #09aeb8;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
  color: black;
}

/* SIGNNNNNNUUPPPP */

.signUp-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.signUp-form .container {
  width: 400px;
  background-color: #fff;
  height: 500px;
}

.signUp-form h2 {
  display: flex;
  justify-content: center;
  font-family: "Maison Neue Bold";
  font-size: 24px;
  line-height: 32px;
}

.signUp-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 335px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}

.signUp-form input {
  margin-bottom: 20px;
  font-size: inherit;
}

.signUp-form a {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-decoration: none;
  color: #09aeb8;
  text-align: center;
}

.signUp-form input[type="submit"] {
  border: none;
  background-color: #09aeb8;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}

.signUp-form input[type="email"],
.signUp-form input[type="password"] {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
}
