/* GLOBAL */

body {
  font-family: "Maison Neue", sans-serif;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  height: 1px;
  color: #09aeb8;
}

input::placeholder {
  color: #c7c7c7;
}
